@CHARSET "UTF-8";

/*------------------------------------------------------------*
**  Global
**------------------------------------------------------------*/
body,html {
	height: 100%;
}

body {
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 76%;
	color: #ffffff;
	margin: 0px;
	padding: 0;
	text-align: center;
/*	background-color:#E1E2E6;*/
	background-image: url("../images/black.jpg");
}

image {
	border: 0;
}

/* text */
p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0 0 20px;
}

acronym {
	cursor: help;
}

code {
	font-size: 1.5em !important;
	margin: 0 0 20px;
	border: 1px dashed #333;
	padding: 10px;
	display: block;
	background-color: #111;
	color: #ffc;
}

blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0 0 20px;
	border: 1px solid #333;
	padding: 15px 15px 0 15px;
	display: block;
	background-color: #111;
}

blockquote p {
	margin-bottom: 15px;
}

/* links */
a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: underline;
}

/* images */
/*img { border: 5px solid #333; margin: 0 10px 10px 0; }*/
/*a img { border: 5px solid #2F1C07; }*/
/*a:hover img { border-color: #50300C; }*/
/*img.right { margin-left: 10px; }*/
/* lists */
ul,ol,dl,table,blockquote,code {
	font-size: 1.2em;
}

ul,ol,dl {
	margin: 0 0 30px;
	padding: 0 0 0 25px;
}

ul ul {
	font-size: 1em;
	margin: 0;
}

ol ol {
	font-size: 1em;
	margin: 0;
}

dl {
	padding: 0;
}

dl dt {
	font-weight: bold;
}

/*------------------------------------------------------------*
**  Container
**------------------------------------------------------------*/
#container {
	position:absolute;
	top:0;
	margin: 0 auto;
	width: 80%;
	text-align: left;
	min-height: 100%;
	height: 850px;/*
/*	background-color:#ffccff;*/
/*	background-image: url("../images/home_bkg_in.jpg");*/
    left:10%;
}

/*------------------------------------------------------------*
**  Header
**------------------------------------------------------------*/
#flash2{
	
	position:absolute;
	top:0;
	right:-350px;
	}
#topest{
background-image:url("../images/topest.jpg");
height:220px;

}
#top {
	width: 100%;
	height: 20px;
	background-color: #999999;
}

#top li {
	display: inline;
	padding: 0px 20px 0px 20px;
	border-left: 1px solid #b8bec1;
	color: #eee;
	float: left;
}

#top a {
	font-size: 13px;
}

#top a:link {
	color: #fff;
	text-decoration: none;
}

#header {
	position: relative;
	padding: 40px 0;
/*	background-image:url("../images/banner.jpg");*/
	
}

/* logo */
/*#header h1 {*/
/*	font-size: 3.2em;*/
/*	font-weight: normal;*/
/*	margin: 0;*/
/*	}*/
/*#header h1 a { color: #ffc; }*/
/*#header h1 a:hover { text-decoration: none; }*/
/* if you want to replace the logo with 
an image, comment out the above logo code and
uncomment the following */
#header h1 {
	background: url("../images/logo.png") no-repeat;
	width: 600px;
	height: 113px;
	z-index: 10;

	
	
}

#header h1 a {
	display: block;
	height: 100%;
	text-indent: -9999px;
	outline: none;

}

/* Search */
#search {
	position: absolute;
	top: 180px;
	right: 0;
	margin: 0;
}


/*#header form {*/
/*	position: absolute;*/
/*	top: 45px;*/
/*	right: 0;*/
/*	margin: 0;*/
/*}*/
/**/
/*#header form p {*/
/*	margin: 0;*/
/*}*/
/**/
/*#header form input {*/
/*	padding: 0 0;*/
/*	font-size: 1.0em;*/
/*	background-color: #E1E2E6;*/
/*	color: #000000;*/
/*	border: 0;*/
/*	width: 200px;*/
/*}*/
/**/
/*#header form input.btn {*/
/*	width: auto;*/
/*	padding: 7px 5px;*/
/*	border: 3px solid #000;*/
/*	background-color: #ffffff;*/
/*	line-height: 16px;*/
/*}*/
/*------------------------------------------------------------*
**  Navigation
**------------------------------------------------------------*/
#header ul {
	background-color: #ffffff;
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
	padding: 1px 0;
	background-image:url("../images/black11.png");
}

#header ul:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

#header form {
	top: -30px;
	float: right;
	right: -300px;
	height: 50px;
}

#header ul li {
	float: left;
	margin: 0 0px;
	font-size: 1.3em;
	display: inline;
	padding: 3px 20px 0px 20px;
	
	color: #eee;
	float: left;
}

#header ul li form {
	float: right;
}

#header ul li a {
	display: block;
	padding: 10px 10px;
}

#header ul li a.on {
	text-decoration: none;
	background-color: #000000;
}




/*------------------------------------------------------------*
**  Content
**------------------------------------------------------------*/

#flash1{
	position:absolute;
	top:700px;
	left:10%;
float:left;
clear:right;
margin-right:0;
}










/*------------------------------------------------------------*
**  Footer
**------------------------------------------------------------*/
#footer {
    position:absolute;
	margin-top:0px;
	padding-bottom: 0px;
	text-align: center;
	width:80%;
	top:2800px;
	left:10%;
	bottom:0;
}

#footer .flinks a,#footer .flinks span {
		background-color:#999999;
	margin: 0 10px;
}
#footer .flinks{
background-color:#999999;
width:1010px;
}
#footer .flinks span a {
		background-color:#ffffff;
	margin: 0;
}

#footer .copyright {
		background-color:#999999;
	margin: 0px 0;
	font-family: arial;
	width:1010px;
}

#footer .ilinks a {
	background-color:#ffffff;
	margin: 0 5px;
}


    